@model List<Organizasyon>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MuhasebeLayout.cshtml";
    var adresler = ViewBag.Adres;
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h5>Organizasyon Listesi</h5>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Organizasyon Id</th>
                        <th>Organizasyon Adıı</th>
                        <th>Başlangıç Tarihi</th>
                        <th>Bitiş Tarihi</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.OrganizasyonAdi</td>
                            <td>@item.BaslangicTarihi.ToString("dd/MM/yyyy")</td>
                            <td>@item.BitisTarihi.ToString("dd/MM/yyyy")</td>
                            <td>
                                <a href="/muhasebe/organizasyon/details/@item.Id" class="btn btn-primary btn-sm">Detay</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

