
@{
    ViewData["Title"] = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container">
        <h1>Hakkımızda</h1>
        <p>Kare Ajansa Hoş geldiniz! Modellik dünyasında size kapılarını açmaktan mutluluk duyarız. Uzun yıllara dayanan deneyimimiz ve tutkumuzla, moda ve eğlence sektöründe unutulmaz izler bırakmanızı sağlamak için buradayız.</p>
        <div class="mission-vision">
            <h2>Misyonumuz</h2>
            <p>Amacımız, genç yetenekleri keşfetmek, onları şekillendirmek ve onlara profesyonel bir platform sunarak potansiyellerini en üst düzeye çıkarmalarına yardımcı olmaktır. Her bireyin benzersiz bir hikayesi vardır ve biz, bu hikayeyi en iyi şekilde anlatmalarına yardımcı olmak için buradayız.</p>
            <h2>Vizyonumuz</h2>
            <p>Vizyonumuz, modellik dünyasına taze bir soluk getirmek ve endüstrinin sınırlarını zorlamaktır. İleri teknoloji ve yaratıcılığı bir araya getirerek, geleneksel anlayışı modern bir perspektifle birleştiriyoruz. Model ajansı olarak, modellerimizin her türlü platformda parlamalarını sağlamak için çabalıyoruz.</p>
        </div>
        <div class="team">
            <h2>Ekibimiz</h2>
            <p>Kare Ajans ekibi, sektörün önde gelen profesyonellerinden oluşur. Moda, fotoğrafçılık, kreatif yönetim ve daha birçok alanda deneyimli ekibimiz, modellerimizin her adımda desteklenmesini sağlar. Genç yeteneklere rehberlik eden, onları motive eden ve onları en iyi versiyonları haline getiren bir ekibiz.</p>
        </div>
        <div class="align-items-md-center">
            <h2>İletişim Bilgileri</h2>
            <p><b>Telefen No:+90 505 3513547</b></p>
            <p><b>E-Mail: bariisaytekiin@gmail.com</b></p>
            <p><b>Adres:Pendik/İStanbul</b> </p>
        </div>
    </div>
</body>


