@model OrganizasyonGeliGiderVM
@{
    ViewData["Title"] = "Organizasyonlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Organizasyonlar</h2>
<br />
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

    @foreach (var item in Model.Organizasyonlar)
    {
        <div class="col mb-5">
            <div class="card h-100 text-center">

                <h3>@item.OrganizasyonAdi</h3>

                <div class="card-body p-4">
                    <div class="text-center">
                        <h5>@item.BaslangicTarihi.ToString("dd/MM/yyyy")     @item.BitisTarihi.ToString("dd/MM/yyyy") </h5>
                        <h5>@item.Adres.AcikAdres</h5>
                    </div>
                </div>
            
        </div>
        </div>
    }
</div>

