
@{
    ViewData["Title"] = "Referanslar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container">
        <h1>Referanslar</h1>
        <br />
        <div class="reference">
            <h2>ABC Moda Dergisi</h2>
            <p>ABC Moda Dergisi ile iş birliği yaparak, çeşitli moda fotoğrafçılığı projelerinde yer aldık. Dergi ekibiyle birlikte yaratıcı fikirler geliştirdik ve en son moda trendlerini sergiledik. İşbirliğimizden memnuniyet duyduk ve başarılı sonuçlar elde ettik.</p>
        </div>
        <div class="reference">
            <h2>XYZ Moda Markası</h2>
            <p>XYZ Moda Markası için tanıtım kampanyasında yer aldık. Modellerimiz, markanın estetik ve tarzını en iyi şekilde yansıttı. Moda defilesinde ve sosyal medya kampanyasında işbirliği yaparak, markanın geniş kitlelere ulaşmasına yardımcı olduk.</p>
        </div>
        <!-- Diğer referanslar -->
    </div>
</body>
